<ion-view title="Mi Perfil" >
<ion-nav-buttons side="left">
<button class="button button-outline button-positive" ng-click="Volver()" >
	<a class="icon ion-ios-undo-outline"></a>
	Volver
</button>
</ion-nav-buttons>
<ion-content padding="true" style="background: url(img/miPerfil.jpg) no-repeat center;background-size:cover;" class="has-header">
<div class="item item-body" style="background-color:rgba(9, 110, 134, 0.79)" id="listaDeDesafios-list-item-container4">
	<h2 id="listaDeDesafios-heading3" style="color:#9cdd4e;font-weight:600;text-align:center;">Datos del usuario</h2>
	<ion-list  id="listaDeDesafios-list2">
	<ion-item class="energized"  style="background-color:rgba(160, 208, 237, 0.63)">Mail: 
		 <h2 class="texto">{{usuario.mail}}</h2>
		</ion-item>
	<ion-item class="energized" style="background-color:rgba(160, 208, 237, 0.63)" >Estado:   
	<h2 class="texto">{{usuario.estado}}</h2>
</ion-item>
	<ion-item class="energized" style="background-color:rgba(160, 208, 237, 0.63)" >Puntos: 
	 <h2 class="texto" >{{usuario.puntos}}</h2> 
	</ion-item>
	<ion-item class="energized" style="background-color:rgba(160, 208, 237, 0.63)" >Fecha de inscripcion:
	  <h2 class="texto" >{{usuario.fechaIncripcion}}</h2>
	</ion-item>
</ion-list>
<div id="listaDeDesafios-button-bar2" class="button-bar">
	<button id="listaDeDesafios-button16" style="font-size:12px;" class="button button-positive  button-block">Tickets</button>
	<button id="listaDeDesafios-button17" style="font-size:12px;" class="button button-positive  button-block">Partidas</button>
</div>
<button id="listaDeDesafios-button7" class="button button-assertive  button-block">Eliminar cuenta</button>
</div>
</ion-content>
</ion-view>